<footer class="footer">
    <div class="container">
        <div class="row mb-5 text-center">
            <div class="col-sm-6 col-md-3 pt-2">
                <h5>Women's</h5>
                <ul class="nav-footer">
                    {% for w in women %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'shop:ProductDetail' w.pk %}">{{w.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 pt-2">
                <h5>Men's</h5>
                <ul class="nav-footer">
                    {% for m in men %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'shop:ProductDetail' m.pk %}">{{m.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 pt-2">
                <h5>Girl's</h5>
                <ul class="nav-footer">
                    {% for g in girls %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'shop:ProductDetail' g.pk %}">{{g.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 pt-2">
                <h5>Boy's</h5>
                <ul class="nav-footer">
                    {% for b in boys %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'shop:ProductDetail' b.pk %}">{{b.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="divider"></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-left mt-2 mb-3 pt-1">
                <p class="copyright">Copyright &copy; Example. Theme by <a href="https://medialoot.com">Medialoot</a>.
                </p>
            </div>
            <div class="col-md-6 text-center text-md-right mb-4">
                <ul class="social">
                    <li><a href="{{ aboutus_G.facebook }}"  target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="{{ aboutus_G.twitter }}"   target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="{{ aboutus_G.telegram }}"  target="_blank" title="Telegram"><i class="fab fa-telegram"></i></a></li>
                    <li><a href="{{ aboutus_G.instagram }}" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>
    </div>
</footer>