{% extends 'shared/site.html' %}
{% load static %}
{% block title %} Aurum Site {% endblock title %}

{% block body %}

<!-- Message -->
{% if messages %}
    {% for message in messages %}
        <div class="col-12">
            {% if message.tags == 'error' %}<div class="text-center alert alert-danger" role="alert">{{message}}</div>
                {% else %}<div class="text-center alert alert-{{message.tags}}" role="alert">{{message}}</div>
            {% endif %}
        </div>
    {% endfor %}
{% endif %}
<!-- Message -->

<div id="carousel" class="carousel slide" data-ride="carousel">

    <script>
        $('.carousel').carousel({
            interval: 4000
        })
    </script>

    <!-- Carousel Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ul>

    <!-- Carousel -->   
    <div class="carousel-inner">

        <!--Text only with background image-->
        <div class="carousel-item active" style="background: url('{% static 'images/carousel_images/cover-bg-1.jpg' %}') center;">
            <div class="container slide-textonly">
                <div>
                    <h1>York &amp; Smith</h1>
                    <p class="lead">Spring/Summer 2018 Collection</p>
                    <a href="{% url 'shop:catalog' %}" class="btn btn-outline-secondary">View Collection</a>
                </div>
            </div>
        </div>


        <!--Text only with background image-->
        <div class="carousel-item" style="background: url('{% static 'images/carousel_images/cover-bg-2.jpg' %}') center;">
            <div class="container slide-textonly">
                <div>
                    <h1>York &amp; Smith</h1>
                    <p class="lead">Spring/Summer 2018 Collection</p>
                    <a href="{% url 'shop:catalog' %}" class="btn btn-outline-secondary">View Collection</a>
                </div>
            </div>
        </div>

        <!--Text only with background image-->
        <div class="carousel-item" style="background: url('{% static 'images/carousel_images/cover-bg-3.jpg' %}') center;">
            <div class="container slide-textonly">
                <div>
                    <h1>York &amp; Smith</h1>
                    <p class="lead">Spring/Summer 2018 Collection</p>
                    <a href="{% url 'shop:catalog' %}" class="btn btn-outline-secondary">View Collection</a>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--Text with image-->
        <!--
        <div class="carousel-item">
            <div class="container slide-withimage">
                <div class="description">
                    <h1>York &amp; Smith</h1>
                    <p class="lead">Spring/Summer 2018 Collection</p>
                    <a href="#" class="btn btn-outline-secondary">View Collection</a>
                </div>
                <div class="slide-image">
                    <img src="images/placeholder-shoes.png" style="width: 80%;">
                </div>
            </div>
        </div>
        -->

    </div>
</div>

<section class="collections text-center ">
    <div class="container-fluid">
        <div class="row">
            <div class="collection col-md-6 alt-background">
                <div class="container container-right text-center">
                    <div>
                        <h1>Women's</h1>
                        <p class="lead">Spring/Summer 2018 Collection</p>
                        <a href="{% url 'shop:catalog' %}?size=&gender=women&category=&sortby=-created&page=1" class="btn btn-outline-secondary">Browse Women's</a>
                    </div>
                </div>
            </div>
            <div class="collection col-md-6 bg-secondary inverted">
                <div class="container container-left text-center">
                    <div>
                        <h1>Men's</h1>
                        <p class="lead">Spring/Summer 2018 Collection</p>
                        <a href="{% url 'shop:catalog' %}?size=&gender=men&category=&sortby=-created&page=1" class="btn btn-outline-white">Browse Men's</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="featured-block text-center">
    <div class="container">
        <div class="row justify-center">
            <div class="col-md-6 text-center">
                <img class="mt-4 mb-4 img-fluid" src="{% static 'images/placeholder-jacket.png' %}" style="width: 100%;">
            </div>
            <div class="col-md-6 text-center text-md-left">
                <h2 class="mb-3">Spring/Summer Collection 2018</h2>
                <p class="lead mt-2 mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus
                    erat sed sem sagittis cursus.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Suspendisse cursus erat
                    sed sem sagittis cursus. Etiam porta sem malesuada magna mollis euismod.</p>
                <a href="{% url 'shop:catalog' %}" class="btn btn-md btn-outline-primary mt-3">Shop Now</a>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- Featured Products -->
<section class="products text-center">
    <div class="container">
        <h3 class="mb-4">Featured Products</h3>
        <div class="row">
            {% for f in featured_products %}
            <div class="col-sm-6 col-md-3 col-product">
                <figure>
                    <img class="rounded-corners img-fluid" src="{% for img in f.images.all|slice:1 %} {{img.image.url}} {% endfor %}" width="240" height="240">
                    <figcaption>
                        <div class="thumb-overlay">
                            <a href="{% url 'shop:ProductDetail' f.pk %}" title="More Info">
                                <i class="fas fa-search-plus"></i>
                            </a>
                        </div>
                    </figcaption>
                </figure>
                <h4><a href="{% url 'shop:ProductDetail' f.pk %}">{{f.name}}</a></h4>
                <p><span class="emphasis">${{f.price}}</span></p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Featured Products -->
<div class="divider"></div>

<section class="cta text-center">
    <div class="container">
        <h3 class="mt-0 mb-4">Keep up with the latest discounts</h3>
        <form class="subscribe">
            <div class="form-group row pt-3">
                <div class="col-sm-8 mb-3">
                    <input type="text" class="form-control" id="inputName" placeholder="Your Email">
                </div>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-lg btn-outline-primary">Sign me up</button>
                </div>
            </div>
        </form>
    </div>
</section>


{% endblock body %}
    